<%- include('./header.ejs'); -%>


<div class="container">
    <div class="msg_list">
        <legend>Emails sent</legend>
        <hr style="color:black";>
        <div class="email-list">
            <!-- displaying the emails sent -->
            <% let e = user.emailSent %> 
            <div>
                <% if (e) { %>
                    <% for( let prop in e ) { %>
                        <p>To: <%= e[prop].to %> </p>
                        <% if (e[prop].subject == "") { %>
                            <p>No Subject</p>
                        <% } else { %>
                            <p><%= e[prop].subject %></p>
                        <% } %>
                        <p><%= e[prop].mailBody %> </p>
                        <div class="icons">
                            <% if ( Object.prototype.toString.call(e[prop].files) === '[object Object]' &&
                            JSON.stringify(e[prop].files) !== '{}') { %>
                                <a href="/file-storage/<%= e[prop].files.filename %>" download>
                                    <i class="fa fa-file" title='<%= e[prop].files.filename%>' ></i>
                                </a>
                            <% } %>
                            <% if (e[prop].scheduleDate != "NO") { %>
                                <i class="fa fa-clock" title=<%= e[prop].scheduleDate %> ></i>
                            <% } %>
                        </div>
                        <h5>Date: <%= e[prop].dateTime %> </h5>
                        <hr>
                    <% } %>
                <% } else { %>
                    <h3>You have not sent any emails</h3>
                <% } %>
            </div>
        </div>
    </div>
    <div class="msg_bloc">
        <!-- <form  method="POST" enctype="multipart/form-data"> -->
            <div class="mail_logo">
                <button class="mail_button" aria-expanded="false"><i class="fa fa-mail-bulk"></i></button>
                <legend>Send a mail</legend>
            </div>
            <div class="mailing_bloc">
                <div>
                    <label for="to">To...</label>
                    <input type="text" name="to" id="to" placeholder="TO:" required>
                    <h4 id="to_error"></h4>
                </div>
                <div>
                    <label for="sub">Subject</label>
                    <input type="text" name="sub" id="sub" placeholder="Subject">
                </div>
                <div>
                    <label for="mail_body">Type your mail here</label>
                    <textarea name="mail_body" id="mail_body"></textarea>
                </div>
                <div class="upload-file">
                    <label for="file_up">
                        <i class="far fa-file-alt"></i>
                        Attach a File
                    </label>
                    <h4 id="fileList"></h4>
                    <input type="file"  id="file_up"  onchange="updateList()" />
                </div>
                <div class="sbuttons">
                    <button type="submit" id="mailSend">SEND</button>
                    <button id="mailSchedule">SCHEDULE</button>
                    <div class="s_mail">
                        <input type="date" name="s_date" id="s_date" disabled>
                        <input type="time" name="s_time" id="s_time" disabled>
                        <h5 id="s_" style="position:relative;right:0"></h5>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </div>

</div>
<div class="sending-container">
    <div class="box">
        <div class="border one"></div>
        <div class="border two"></div>
        <div class="border three"></div>
        <div class="border four"></div>

        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line three"></div>
    </div>
</div>
<input type="hidden" id="userinfo" value="<%= user._id %>" >
<input type="hidden" id="p" value="<%= user.password %>">
<input type="hidden" id="usere" value="<%= user.email %>" >
<script>
    const mailButton = document.querySelector(".mail_button");
    const mailList = document.querySelector(".msg_list");
    const smail = document.getElementById('mailSchedule');
    const setDate = document.querySelector("#s_date");
    const setTime = document.querySelector("#s_time");


    mailButton.addEventListener("click",() => {
    if(mailList.classList.contains("active")){
        mailButton.setAttribute("aria-expanded", "false");
        mailList.classList.remove("active");
    }
    else {
        mailList.classList.add("active");
        mailButton.setAttribute("aria-expanded","true");
    }
    })

    smail.addEventListener("click", ()=>{
        setDate.disabled = false;
        setTime.disabled = false;
    })

    updateList = function() {
    var input = document.querySelector('#file_up');
    var output = document.getElementById('fileList');

    output.innerHTML = '<ul>';
    for (var i = 0; i < input.files.length; ++i) {
        output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
    }
    output.innerHTML += '</ul>';
    }

    //getting the mail data
    
    const sendButton = document.querySelector('#mailSend');
    sendButton.addEventListener('click', async (e) => {
        e.preventDefault();
        var toSend = document.querySelector('#to').value;
        var subject = document.querySelector('#sub').value;
        var mailBody = document.querySelector('#mail_body').value;
        var fileSend = document.querySelector('#file_up').files[0];
        var scheduleDate = document.querySelector('#s_date').value;
        var scheduleTime = document.querySelector('#s_time').value;
        var toError = document.querySelector('#to_error');
        var userInfo = document.querySelector('#userinfo').value;
        var usere = document.querySelector('#usere').value;
        var pass = document.querySelector('#p').value;
        
        if(!scheduleDate){
                scheduleTime = "NO";
                scheduleDate = "NO";
            }else{
                var month = parseInt(scheduleDate.slice(5,7));
                console.log(month)
                month = `0${month}`;
                console.log(month)
                scheduleDate = `${scheduleDate.slice(8,10)}/${month}/${scheduleDate.slice(0,4)}`;
                console.log(scheduleDate)
                if(!scheduleTime){
                    document.getElementById('s_').innerHTML = "Set a time";
                }
                else{
                    
                }
            }
        if(!toSend){
            toError.innerHTML = "Provide the receiver's Email id";
            
        }else{
            const frm = new FormData();
            frm.append('userinfo', userInfo);
            frm.append('toSend',toSend);
            frm.append('subject',subject);
            frm.append('mailBody',mailBody);
            frm.append('fileSend',fileSend);
            frm.append('scheduleDate',scheduleDate)
            frm.append('scheduleTime',scheduleTime)
            frm.append('emailID',usere);
            frm.append('pass',pass);

    
            try{
                const ani = document.querySelector('.sending-container');
                ani.setAttribute('style', 'visibility:visible');
                const res = await fetch('/sendMail', {
                    method: 'POST',
                    body:frm
                })  

                    const data = await res.json();
                        console.log(data);
                        const emailList = document.querySelector('.email-list');
                        var e = data.user;
                        var emails = e[0].emailSent[e[0].emailSent.length - 1];
                        console.log(emails)
                        const d = document.createElement('div');
                        const p = document.createElement('p');
                        const sub = document.createElement('p');
                        const h = document.createElement('h5');
                        const i = document.createElement('i');
                        const b = document.createElement('p');
                        const iFile = document.createElement('i');
                        const line = document.createElement('hr');
                        const icons = document.createElement('div');
                        icons.classList.add("icons");
                        p.innerHTML = `To:${emails.to}`;
                        b.innerHTML = emails.mailBody;
                        d.appendChild(p);
                        if(emails.subject == ""){
                            sub.innerHTML = "No Subject";
                            d.appendChild(sub);
                        }
                        else{
                            sub.innerHTML = emails.subject;
                            d.appendChild(sub);
                        }
                        d.appendChild(b);
        
                        if(emails.files != null){
                            const aDown = document.createElement('a');
                            aDown.href = "/file-storage/"+emails.files.filename;
                            aDown.setAttribute('download','download');
                            iFile.classList.add("fa")
                            iFile.classList.add("fa-file")
                            iFile.title = emails.files.filename;
                            aDown.appendChild(iFile)
                            d.appendChild(aDown)
                        }
                        if(emails.scheduleDate != "NO"){
                            i.classList.add("fa")
                            i.classList.add("fa-clock")
                            i.title = `${emails.scheduleDate}-${emails.scheduleTime}`;
                            icons.appendChild(i)
                            d.appendChild(icons)
                        }
                        h.innerHTML = `Date: ${emails.dateTime}`;
                        d.appendChild(h);
                        d.appendChild(line);
                        emailList.appendChild(d)

                        //resetting
                        toSend = " ";
                        subject = " ";
                        mailBody = " ";
                        fileSend = " ";
                        ani.setAttribute('style', 'visibility:hidden');
                    }
                    catch(err){
                    console.log(err);
                }
        }
        });
</script>